.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1142px;
  margin: 40px auto 0;
  padding: 0;
  list-style-type: none;
  font-family: ;
  font-size: ;
}
