.intro__tag {
  text-transform: uppercase;
  color: #ffcea7;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@media (max-width: 700px) {
  .intro__tag {
    font-size: 16px;
    line-height: 18px;
  }
}
