.people {
  max-width: 1280px;
  margin: 0 auto;
  padding: 130px 69px 50px 69px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 995px) {
  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
  }
}

@media screen and (max-width: 750px) {
  .people {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 650px) {
  .people {
    padding-bottom: 0;
  } 
}