.people__title {
  display: block;
  max-width: 420px;
  margin: 29px 0 120px 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.25;
}

@media screen and (max-width: 995px) {
  .people__title {
    max-width: 480px;
    font-size: 40px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 380px) {
  .people__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
  .people__title {
    font-size: calc(32px + (4 + 4 * 0.7) * ((100vw - 320px) / 400));
  }
}