.intro__image {
  width: 354px;
  height: 354px;
  object-fit: cover;
  margin: 0 88px 0 0;
}

@media (max-width: 1200px) {
  .intro__image {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .intro__image {
    max-width: 320px;
    max-height: 320px;
    margin: 0 auto;
  }
}
